# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\andre\OneDrive - Universidade de Coimbra\UNI\LEI\Inforestudante\3_ano\2_semestre\SD\UcDrive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
